{{#if submitted}}
<div class="alert alert-success">
    <strong>Successfully added task!</strong>
</div>
{{/if}}

{{#if deleted}}
<div class="alert alert-danger">
    <strong>Deleted task</strong>
</div>
{{/if}}

<div class="container">
    {{!-- only add button if privleged for action --}}
    {{#if admin}}
    <div class="col mt-3">
        <a class="btn btn-warning btn-lg" href="/tasks/upload" role="button">Create New Task</a>
    </div>
    {{/if}}

    <div class="card-columns mt-3 justify-content-center">
        <div class="col">
            {{#unless data}}
            <div class="alert alert-danger">
                <strong>There are no tasks</strong>
            </div>
            {{/unless}}

            {{#each data}}
            <div class="card text-dark bg-warning mb-3" style="width: 18rem;">
                <div class="card-header">{{subject}} | {{category}}</div>
                <div class="card-body">
                    <h3 class="card-title">{{title}}</h3>
                    <p class="card-text">{{formatDate date}}</p>
                    <a href="/tasks/{{_id}}" class="stretched-link"></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>