<div class="jumbotron bg-warning text-dark">
  <h1 class="display-4">{{data.title}}</h1>
  <p class="lead">{{data.descript}}</p>
  <hr class="my-4">
  <p>{{data.subject}} | {{data.category}}<br>{{formatDate data.date}}</p>
  <a class="btn btn-info btn-lg" href="/uploads/{{data.attachments}}" role="button">Download Attachment {{data.attachments}}</a>
  {{!-- only add button if privleged for action --}}
  {{#if admin}}
  <a class="btn btn-danger" href="/tasks/delete/{{data._id}}" role="button">Delete Task</a>
  {{/if}}
</div>